<div class="col-lg-6">
  <h1>{{title}}</h1>

  <div class="alert alert-success" *ngIf="status == 'success'">
    Register Success, <a [routerLink]="['/login']">Login here</a>
  </div>
  <div class="alert alert-danger" *ngIf="status == 'error'">
    Register Error, {{message}}
  </div>

  <form #registerForm="ngForm" (ngSubmit)="onSubmit(registerForm)" class="col-lg-10">
    <p>
      <label>Name</label>
      <input type="text" name="name" #name="ngModel" [(ngModel)]="user.name" class="form-control" required/>
      <span *ngIf="!name.valid && name.touched">
        The name is required
      </span>
    </p>
    <p>
      <label>Last name</label>
      <input type="text" name="lastName" #lastName="ngModel" [(ngModel)]="user.lastName" class="form-control" required/>
      <span *ngIf="!lastName.valid && lastName.touched">
        The last name is required
      </span>
    </p>
    <p>
      <label>Email</label>
      <input type="email" name="email" #email="ngModel" [(ngModel)]="user.email" class="form-control" required/>
      <span *ngIf="!email.valid && email.touched">
        The email is required
      </span>
    </p>
    <p>
      <label>Password</label>
      <input type="password" name="password" #password="ngModel" [(ngModel)]="user.password" class="form-control" required/>
      <span *ngIf="!password.valid && password.touched">
        The password is required
      </span>
    </p>
    <input type="submit" value="{{title}}" class="btn btn-primary" [disabled]="!registerForm.form.valid" />
  </form>
</div>
