<div class="col-lg-8 col-lg-offset-2" [@fadeIn]>
  <div class="jumbotron">
    <h1>{{title}}</h1>
    <p>Enjoy most exotic animals in our zoo :)</p>
    <p>
      <a class="btn btn-primary btn-lg" role="button" [routerLink]="['/animals']">
        Show Animals
      </a>
      <a class="btn btn-success btn-lg" role="button" [routerLink]="['/keepers']">
        Show Keepers
      </a>
      <a class="btn btn-warning btn-lg" role="button" [routerLink]="['/contact']">
        Contact Us
      </a>
    </p>
  </div>
</div>

